{{ define "content" }}
<h3 class="text-center">login</h3>
<form class="form-signin center" role="form" action="/authenticate" method="post">
  <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
  <input type="password" name="password" class="form-control" placeholder="password">
  <br/>
  <button class="btn btn-lg btn-outline-secondary btn-block" type="submit">login</button>
  <br/>
  <button class="btn btn-lg btn-outline-secondary btn-block"<a class="lead pull-right text-secondary" href="/signup">sign up</a></button>
</form>
{{end}}