{{ define "content"}}
<form role="form" action="/todos/save" method="post">
  <br/>
    <div class="lead">new task</div>
  <br/>
    <div class="form-group">
      <textarea class="form-control" name="content" id="content" placeholder="add new Todo" rows="4"></textarea>
      <br/>
      <p style="display:none;" id="todo-id">{{ .ID }}</p>
      <button type="submit" name="status" value="0" class="btn btn-outline-warning mr-1">todo</button>
      <button type="submit" name="status" value="1" class="btn btn-outline-info mr-1">in progress</button>
      <button type="submit" name="status" value="2" class="btn btn-outline-success">done!</button>
      <br/>
    </div>
</form>

{{ end }}